
<launch>
<include file="$(find openni2_launch)/launch/openni2.launch">
<arg name="depth_registration" value="true"/>
</include>

<node name="rviz" pkg="rviz" type="rviz" args="-d $(find tag_filter)/rviz/tag_filter.rviz" />
<arg name="marker_size" default="11.948" />
<arg name="max_new_marker_error" default="0.08" />
<arg name="max_track_error" default="0.2" />
<arg name="cam_image_topic" default="/camera/depth_registered/points" />
<arg name="cam_info_topic" default="/camera/rgb/camera_info" />		
<arg name="output_frame" default="/camera_rgb_optical_frame" />

<node name="ar_track_alvar" pkg="ar_track_alvar" type="individualMarkers" respawn="false" output="screen" args="$(arg marker_size) $(arg max_new_marker_error) $(arg max_track_error) $(arg cam_image_topic) $(arg cam_info_topic) $(arg output_frame)" />

<node pkg="nodelet" type="nodelet" name="pcl_manager" args="manager" output="screen"/>


<node pkg="nodelet" type="nodelet" name="cropbox" args="load pcl/CropBox pcl_manager" output="screen">
<remap from="~input" to="/camera/depth_registered/points"/>
<rosparam>min_x: -0.070</rosparam>
<rosparam>max_x: 0.2066</rosparam>
<rosparam>min_y: -0.03</rosparam>
<rosparam>max_y: 0.09</rosparam>
<rosparam>min_z: 0.0</rosparam>
<rosparam>max_z: 6.0</rosparam>
</node>

<node name="plane_extract" pkg="tag_filter" type="remove_plane" />
<node name="dynamic_cropbox" pkg="tag_filter" type="dynamic_cropbox.py" />

<node pkg="nodelet" type="nodelet" name="outlier_removal" args="load pcl/StatisticalOutlierRemoval pcl_manager" output="screen">
<remap from="~input" to="/noplane" />
<rosparam>
      mean_k: 1000
      stddev: 1.0
      negative: False
</rosparam>
</node>
</launch>	